<!DOCTYPE html>
<html lang="en">
<head>
    <title>Madlibz API</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/journal/bootstrap.min.css"/>
    <style>
        body {
            margin-top: 5px;
        }
        footer {
            margin-top: 50px;
            padding-top: 15px;
            border-top: 1px solid #EEE;
        }
        .output {
            line-height: 50px;
        }
        .form {
            max-width: 550px;
            padding: 15px;
            margin: 0 auto;
        }

    </style>
</head>
<body>

    <div class="text-center">
        <img src="http://1.bp.blogspot.com/-1X-kgAXK_bs/USOWWN-xu1I/AAAAAAAAAXM/4c9kLfJSrV4/s1600/madlibslogo.png" />
    </div>
    <br>
    <div class="well bs-sidebar text-center" id="sidebar" style="background-color:#fff">
        <ul class="nav nav-pills nav-stacked">
            <li><a href='http://127.0.0.1:8000/madlibsapp/'>Write A Madlib</a></li>
            <li><a href='/blog/'>Hall Of Fame!</a></li>
        </ul>
    </div>

    <div>
        <div class="text-center">
            <br>

            {% block content %}
                 <h1>{{ data.title }}</h1>
                    <br><br>
                 <div class="container text-center">
                     {% for c in data.blanks%}
                    <form class="form" id="login_form" method="POST" action="">{% csrf_token %}
                        <input type="text" name="user" class="form-control" placeholder=" {{ c }} " value="" required autofocus>
                        <br>
                {% endfor %}
                {% endblock %}
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit Madlib</button>
                    </form>
                </div>

        </div>
    </div>





  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--<footer class="footer">-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<p class="text-muted">&copy; <script>document.write(new Date().getFullYear())</script> Herman Fassett</p>-->
                <!--<p><a href="https://github.com/HermanFassett/madlibz">View on GitHub</a></p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</footer>-->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>
